<h1>Carts#show</h1>
<p>Find me in app/views/carts/show.html.erb</p>

    商品名：<%= @cart_items.items.name %>
    </p>
    <p>
      在庫数：<%= @cart_items.items.stocks %>
    </p>
    <p>
      価格：<%= @cart_items.items.price %>
    </p>
    <p>
      商品説明：<%= @cart_items.items.description %>
    </p>

<%= button_to 'カートに入れる', item_add_item_path(@item) %>


