<h1>Items#show</h1>
<p>Find me in app/views/items/show.html.erb</p>

    商品名：<%= @item.name %>
    </p>
    <p>
      在庫数：<%= @item.stocks %>
    </p>
    <p>
      価格：<%= @item.price %>
    </p>
    <p>
      商品説明：<%= @item.description %>
    </p>
    <% unless @item.categories.empty? %>
      <% @item.categories.each do |cate| %>
        <p>
          カテゴリ：<%= cate.name %>
        </p>
      <% end %>
    <% end %>

<% unless @item.item_reviews.empty? %>
  <% @item.item_reviews.each do |re| %>
    <p>口コミ：<%= re.review %></p>
  <% end %>
  <% end %>
口コミ一覧
<%= link_to "口コミ一覧ページ", item_item_reviews_path(@item.id) %>
<% if user_signed_in? %>
  <%= link_to "口コミを書く", new_item_item_review_path(@item.id) %>
<h3>いいね件数: <%= @item.likes.count %></h3>
<% if current_user.already_liked?(@item) %>
  <%= button_to 'いいねを取り消す', item_like_path(@item), method: :delete %>
<% else %>
  <%= button_to 'いいね', item_likes_path(@item) %>
<% end %>
<% end %>
<%= form_with url: item_add_item_path(@item) do |form| %>
  <%= form.number_field :stocks, min:1 %>
  <%= form.hidden_field :item_id, value: @item.id %>
  <%= form.submit 'カートに入れる' %>
<% end %>


