<!DOCTYPE html>
<html>
  <head>
    <title>SampleEc</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <nav>
            <% if user_signed_in? %>
            ログイン中:<strong><%= link_to current_user.name, user_path(current_user.id) %></strong>
            <%= link_to 'プロフィール変更', edit_user_registration_path %>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
        <% else %>
            <%= link_to 'サインアップ', new_user_registration_path %>
            <%= link_to 'ログイン', new_user_session_path %>
            <% end %>
            <%= link_to "カート", current_cart %>
        </nav>
        <%= search_form_for @q, url: find_items_path do |f| %>
          <%= f.label :商品名 %>
          <%= f.search_field :name_cont %>
          <%= f.label :価格 %>
          <%= f.number_field :price_gteq %>円以上〜
          <%= f.number_field :price_lt %>円未満
          <%= f.submit "検索" %>
        <% end %>
        <%= sort_link(@q, :name, "名前ソート") %>
        <%= sort_link(@q, :price, "価格ソート") %>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
    <p><%= link_to 'TOPへ戻る', root_path %></p>
  </body>
</html>
